<div *ngIf="beer$ | async as beer">
    <div class="row mt-5">
        <div class="col">
            <button type="button" class="btn btn-primary"
                (click)="goBack()">Back to home page</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            {{ beer.name }} <br>
            {{ beer.tagline }}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 col-lg-6 col-xl-6">
            <div [ngStyle]="{'background-image': 'url(' + beer.image_url + ')'}" class="beer beer__image mt-2"></div>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let key of beer | objectKeys">{{ key }}</li>
            </ul>
        </div>
    </div>
</div>
