<div class="row beer" *ngFor="let groupedBeers of beers$ | async | appArrayGroupBy">
    <div class="col-md-12 col-lg mt-5 d-flex align-items-stretch" *ngFor="let beer of groupedBeers;trackBy: trackById">
        <div class="card beer__card" (click)="navigate(beer.id)">
            <div class="card-header beer__card--header d-flex justify-content-center align-items-center">
                {{ beer.tagline }}
            </div>
            <div [ngStyle]="{'background-image': 'url(' + beer.image_url + ')'}" class="beer__card--image mt-2"></div>
            <div class="card-body">
                <h5 class="card-title beer__card--name">{{ beer.name }}</h5>
                <p class="card-text beer__card--description">{{ beer.description | slice: 0:100 }}...</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="d-none d-lg-block col-lg-8 col-xl-8"></div>
    <div class="col-md-12 col-lg-4 col-xl-4">
        <app-pagination (pageChanged)="onPageChange($event)"></app-pagination>
    </div>
</div>